@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
body {
  background-color: #303030;
  min-width: 480px;
}

ul {
  list-style: none;
  padding: 0px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #b4b4b4;
}

.header_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 85px;
}

.header__block {
  width: 50%;
}

.header__title {
  text-align: center;
  font-family: PlayfairDisplaySC;
  font-size: calc(10px + 50 * (100vw / 1920));
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #b69b67;
}

.header__title:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #b69b67;
  position: absolute;
  left: 0px;
  top: 0px;
}

.subtitle__row {
  z-index: 2;
}

.header__subtitle_col {
  position: absolute;
  top: 82%;
  right: 0%;
}

.header__sub-title {
  text-align: center;
  font-family: Ubuntu;
  font-size: calc(10px + 50 * (100vw / 1920));
  line-height: 1.2;
  font-weight: 300;
  text-transform: uppercase;
  background: linear-gradient(45deg, #636363 33%, #b69b67 66%);
  -webkit-background-clip: text;
  /* Обрезаем фон по тексту */
  -webkit-text-fill-color: transparent;
  /* Прозрачный текст */
}

.services_container {
  margin-top: 6em;
}

.services__title_col {
  margin-bottom: 3em;
}

.services__title {
  font-family: PlayfairDisplaySC;
  font-size: calc(10px + 50 * (100vw / 1920));
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #b4b4b4;
  text-align: center;
}

.services_link {
  padding-right: 10px;
  font-family: Ubuntu;
  font-size: calc(6px + 24 * (100vw / 1920));
  line-height: 2em;
  font-weight: 300;
  text-transform: uppercase;
  color: #b4b4b4;
  -webkit-transition: color 1000ms cubic-bezier(0.17, 0.67, 0.83, 0.67), font-size 300ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: color 1000ms cubic-bezier(0.17, 0.67, 0.83, 0.67), font-size 300ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.services_link:hover {
  font-size: calc(4px + 38 * (100vw / 1920));
  color: #b69b67;
}

.services__presentacion {
  position: relative;
}

.services__description_block {
  position: absolute;
  top: 0.6em;
  left: 0.6em;
}

.services_description {
  font-family: Ubuntu;
  font-size: calc(6px + 14 * (100vw / 1920));
  line-height: 1.2;
  font-weight: 300;
  color: #b4b4b4;
}

.description_link {
  color: #b69b67;
  -webkit-transition: color 500ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: color 500ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.description_link:hover {
  text-decoration: underline;
  color: olivedrab;
}

.portfolio__container {
  margin-top: 6em;
}

.title-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio_title {
  font-family: PlayfairDisplaySC;
  font-size: calc(10px + 50 * (100vw / 1920));
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #b4b4b4;
  text-align: center;
}

.portfolio_link {
  font-family: Ubuntu;
  font-size: calc(2px + 14 * (100vw / 1920));
  line-height: 1.2;
  font-weight: 300;
  color: #b4b4b4;
  border: 0.01em solid #b4b4b4;
  padding: 0.5em;
  margin-bottom: 3em;
}

.portfolio_link img {
  width: 1em;
}

.portfolio_card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 30px;
}

.portfolio_card img {
  opacity: 0.5;
}

.subscribe_block {
  padding: 0;
  background-color: #b69b67;
  position: absolute;
  height: 100%;
}

.portfolio__subscribe_title {
  position: relative;
  font-family: Ubuntu;
  font-size: calc(2px + 22 * (100vw / 1920));
  line-height: 1.2em;
  font-weight: 400;
  text-transform: uppercase;
  color: #303030;
  text-align: left;
}

.portfolio__subscribe_title:after {
  content: '';
  display: block;
  width: 120%;
  height: 1px;
  background-color: #303030;
  position: absolute;
  bottom: -0.5em;
  left: -3.5em;
}

.portfolio_text {
  margin-bottom: 0px;
  font-family: Ubuntu;
  font-size: calc(2px + 14 * (100vw / 1920));
  line-height: 1.5em;
  font-weight: 500;
  color: #303030;
  text-align: start;
}

.signature_card {
  margin-top: 2em;
  font-family: Ubuntu;
  font-size: calc(2px + 10 * (100vw / 1920));
  line-height: 1.5em;
  font-weight: 300;
  color: #303030;
  font-style: italic;
  text-align: end;
}

.feet__cont_row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feetback {
  width: 100%;
  height: 300px;
  outline: 2px solid red;
}

.contact_us {
  width: 100%;
  height: 300px;
  outline: 2px solid tomato;
}
/*# sourceMappingURL=main.css.map */