body{
    background-color: #303030;
    min-width: 320px;
}

// .container{
//     outline: 1px solid tomato;
    
   
// }

ul{
    list-style: none;
    padding: 0px;
}

a{
    text-decoration: none;
    &:hover{
        text-decoration: none;
        color: #b4b4b4;
    }
    
}