
.feet__cont_row{
    justify-content: space-between;
}


.feetback{
    width: 100%;
   
}

.feedback__title{
    margin-bottom: 3em;

    font-family: PlayfairDisplaySC;
    font-size: calc(10px + 50 * (100vw / 1920));
     line-height: 1.2;
     font-weight: 700;
     text-transform: uppercase;
     color: #b4b4b4;
     
     text-align: center;
}

.block__feedback{
     display: flex;

    
}

.feedback_image img{
    width: 100%;
    @media screen and(max-width: 767px){
        width: 300%;
    }
}


.feedback_text_block{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.feedback_text{

    margin: 0px;
    padding-bottom: 1.5em;

font-family: Ubuntu;
font-size: calc(2px + 24 * (100vw / 1920));
line-height: 1.2;
font-weight: 300;
color: #b4b4b4;

border-bottom: 1px solid #b69b67;


}

.feedback_signature{
    font-family: Ubuntu;
      font-size: calc(2px + 24 * (100vw / 1920));
      line-height: 1.2;
      font-weight: 300;

    text-transform: uppercase;
     color: #b69b67;

  
}

.contact_us{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: end;

    width: 100%;
  


}

.contact__form{
    width: 100%;
    margin-bottom: 1em;
}

.form-field {
    
    input{
        width: 100%;
        height: 3em;
        background-color: #303030;
        border: 1px solid #b4b4b4;

        
          font-family: Ubuntu;
          font-size: calc(2px + 24 * (100vw / 1920));
          line-height: 1.2;
          font-weight: 300;
          color: #454545;

    }
    textarea{
        width: 100%;
        background-color: #303030;
        border: 1px solid #b4b4b4;

        font-family: Ubuntu;
        font-size: calc(2px + 24 * (100vw / 1920));
        line-height: 1.2;
        font-weight: 300;
        color: #454545;
    }
 
}

.contact__button_block{
    width: 50%;

    .contact_button{
        width: 100%;
        height: 2em;
    
        background-color: #b69b67;
        
         font-family: Ubuntu;
         font-size: calc(2px + 24 * (100vw / 1920));
         line-height: 1.2;
         font-weight: 300;
         text-transform: uppercase;
         color: #303030;

         border: 1px solid #b69b67;
         border-radius: 0.4em;
    }
}
