
.feet__cont_row{
    justify-content: space-between;
}


.feetback{
    width: 100%;
    height: 300px;
    outline: 2px solid red;
}

.contact_us{
    width: 100%;
    height: 300px;
    outline: 2px solid tomato;
}