.portfolio__container{
   
    margin-bottom: 6em;
}

.title-col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio_title{

    font-family: PlayfairDisplaySC;
    font-size: calc(10px + 50 * (100vw / 1920));
line-height: 1.2;
font-weight: 700;
text-transform: uppercase;
color: #b4b4b4;

text-align: center;
}

.portfolio_link{
    font-family: Ubuntu;
    font-size: calc(2px + 14 * (100vw / 1920));
line-height: 1.2;
font-weight: 300;
color: #b4b4b4;

border: 0.01em solid #b4b4b4;
padding: 0.5em;
margin-bottom: 3em;
 
img{
    width: 1em;
}
}

.portfolio_card{
position: relative;

display: flex;
flex-wrap: wrap;
justify-content: flex-end;

    margin-bottom: 30px;

    img{
        opacity: 0.5;
    }
   
   
}

.subscribe_block{
    //  display: flex;
    //  flex-direction: column;
    //  justify-content: space-between;
    
    padding: 0;
    background-color: #b69b67;
    position: absolute;
    height: 100%;
}

.portfolio__subscribe_title{

    position: relative;
    font-family: Ubuntu;
    font-size: calc(2px + 22 * (100vw / 1920));
line-height: 1.2em;
font-weight: 400;
text-transform: uppercase;
color: #303030;

// margin: 0.5em;
text-align: left;
  
&:after{
       content: '';
       display: block;

       width: 120%;
       height: 1px;
       background-color: #303030;

       position: absolute;
       bottom: -0.5em;
       left: -3.5em;
   }
}
.portfolio_text{
// margin-left: 0.5em;
// margin-top: 2.5em;
margin-bottom: 0px;

font-family: Ubuntu;
font-size: calc(2px + 14 * (100vw / 1920));
line-height: 1.5em;
font-weight: 500;
color: #303030;

text-align: start;
}

.signature_card{
    // margin-right: 1em;
    margin-top: 2em;
    font-family: Ubuntu;
    font-size: calc(2px + 10 * (100vw / 1920));
line-height: 1.5em;
font-weight: 300;
color: #303030;

font-style: italic;
text-align: end;
}
